<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MakeAList</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/js/site.js" asp-append-version="true" />

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">MakeAList</a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="UserLists" asp-action="Index">
                                My Lists
                                </a>
                                </li>
                    }
                    </ul>
            </div>
            <div class="navbar-user">
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="logged">
                        <p>Hello, @User.Identity.Name!</p>

                        <form asp-controller="Account" asp-action="Logout" method="post" style="display:inline;">
                            <button type="submit">Logout</button>
                        </form>
                    </div>
                }
                    else
                {
                    <div class="login-registration-buttons">
                        <a asp-controller="Account" asp-action="Login">Login</a> 
                        <a asp-controller="Account" asp-action="Register">Register</a>
                    </div>
                }
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        @RenderBody()
    </div>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
