@using MakeAList.Models.ViewModel
@model MakeAList.Models.ViewModel.LoginViewModel



<form method="post">
    <div class="login-form">
        <h2>Login</h2>
        <input placeholder="Username" asp-for="Username" />
        <span asp-validation-for="Username"></span>
        <input placeholder="Password" asp-for="Password" type="password" />
        <span asp-validation-for="Password"></span>
        <button type="submit">Login</button>
    </div>
</form>
