@using MakeAList.Models.ViewModel
@model RegisterViewModel



<form method="post">
    <div class="register-form">
        <h2>Register</h2>
        <input placeholder="Username" asp-for="Username" />
        <span asp-validation-for="Username"></span>
        <input placeholder="Password" asp-for="Password" type="password" />
        <span asp-validation-for="Password"></span>
        <input placehodler="Confirm Password" asp-for="ConfirmPassword" type="password" />
        <span asp-validation-for="ConfirmPassword"></span>
         <button type="submit">Register</button>
    </div>
</form>
