@model MakeAList.Models.ListItem

<h2>Delete Item</h2>

<p>Are you sure?</p>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />

    <button class="btn btn-danger">Delete</button>
    <a class="btn btn-secondary" asp-controller="UserLists" asp-action="Details" asp-route-id="@Model.UserListId">Cancel</a>
</form>
