@model MakeAList.Models.UserList

<h2>Create List</h2>

<form asp-action="Create">
    <div class="mb-3">
        <label class="form-label">Title</label>
        <input asp-for="Title" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label">Type</label>
        <select asp-for="Type" class="form-control" asp-items="Html.GetEnumSelectList<ListType>()"></select>
    </div>

    <button class="btn btn-success">Create</button>
</form>
